/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffadf;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
